body {
    background-color: #f0f0f0;
    color: #444444;
}

.panel {
    padding: 10px 30px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align:left;
}

.bga-handicap .panel {
    padding: 0;
}

.bga-handicap .panel h1 {
    display: inline-block;
    padding: 0 0 0 15px;
}

.bga-handicap .panel p {
    padding: 0 0 0 15px;
    margin-bottom: 10px;
}

.bga-handicap .filter {
    padding: 0 10px 10px 15px;
}

.bga-handicap .filter input {
    border:solid 1px #ccc;
    border-radius: 5px;
    padding: 5px;
}

.bga-handicap .filter button.sort {
  padding:5px;
  padding-right: 10px;
  border-radius: 6px;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  background-color: #28a8e0;
}

.bga-handicap .filter .sort:hover {
  text-decoration: none;
  background-color:#1b8aba;
}

.bga-handicap .filter .sort:focus {
  outline:none;
  background-color: #1b8aba;
}

.bga-handicap .filter .sort:after {
  display:inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}

.bga-handicap .filter .sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top:4px;
  right:-5px;
}

.bga-handicap .filter .sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  top:-4px;
  right:-5px;
}

@media screen and (max-width: 475px) {
    .bga-handicap .filter button.sort {
        margin-top: 10px;
    }
}

.github-fork-banner {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

@media screen and (max-width: 768px) {
    .banner-hide{
        display: none;
    }
}
