body {
  background-color: #f0f0f0;
  color: #444444;
}

.panel {
  padding: 10px 30px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align:left;
}

#footer p {
padding-left: 2px;
}

.github-fork-banner {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

@media screen and (max-width: 768px) {
  .banner-hide{
    display: none;
  }
}
